---

<center>
CSE111</br>
Lab Assignment no: <b>3</b> </br>
Name: <b>Md. Danial Islam<b> </br>
Id: <b>20101534</b> </br>
Section: <b>1</b>
</center>

---

In [2]:
#Question 1
#subtask_1
class DataType:
  def __init__(self,name,value):
    #subtask_2
    self.name = name
    self.value = value

data_type1 = DataType('Integer', 1234)
print(data_type1.name)
print(data_type1.value)
print('=====================')
data_type2 = DataType('String', 'Hello')
print(data_type2.name)
print(data_type2.value)
print('=====================')
data_type3 = DataType('Float', 4.0)
print(data_type3.name)
print(data_type3.value)

Integer
1234
=====================
String
Hello
=====================
Float
4.0

In [31]:
#Question 2
#subtask_1
class Flower:
  def __init__(self):
    self.name = ''
    self.color = ''
    self.num_of_petal = ''
    
flower1 = Flower()
flower1.name="Rose"
flower1.color="Red"
flower1.num_of_petal=6
print("Name of this flower:", flower1.name)
print("Color of this flower:",flower1.color)
print("Number of petal:",flower1.num_of_petal)
print("=====================")
flower2 = Flower()
flower2.name="Orchid"
flower2.color="Purple"
flower2.num_of_petal=4
print("Name of this flower:",flower2.name)
print("Color of this flower:",flower2.color)
print ("Number of petal:",flower2. num_of_petal)
#subtask_2
print(flower1)
print(flower2)
#subtask_3
print('they are different')

Name of this flower: Rose
Color of this flower: Red
Number of petal: 6
=====================
Name of this flower: Orchid
Color of this flower: Purple
Number of petal: 4
<__main__.Flower object at 0x7efc54a11490>
<__main__.Flower object at 0x7efc54a11450>
they are different

In [32]:
#Question 3
class Wadiya():
  def __init__(self):
    self.name = 'Aladeen'
    self.designation = 'President Prime Minister Admiral General'
    self.num_of_wife = 100
    self.dictator = True
#sorry but I prefer to use function
def Wadiya_zindabad(name,designation,num_of_wife,dictator):
  print("Name of President: ",name)
  print("Designation: ",designation)
  print("Number of wife: ",num_of_wife)
  print("Is he/she a dictator: ",dictator)

#subtask_1
wadiya = Wadiya()
#past_1
print("Part 1:")
#subtask_2
Wadiya_zindabad(wadiya.name,wadiya.designation,wadiya.num_of_wife,wadiya.dictator)
# print("Name of President: ",wadiya.name)
# print("Designation: ",wadiya.designation)
# print("Number of wife: ",wadiya.num_of_wife)
# print("Is he/she a dictator: ",wadiya.dictator)

#part_2
print("Part 2:")
#subtask_3
wadiya.name = "Donald Trump"
wadiya.designation = "President"
wadiya.num_of_wife = 1
wadiya.dictator = False

Wadiya_zindabad(wadiya.name,wadiya.designation,wadiya.num_of_wife,wadiya.dictator)

#subtask_4
print("previous information lost")

Part 1:
Name of President:  Aladeen
Designation:  President Prime Minister Admiral General
Number of wife:  100
Is he/she a dictator:  True
Part 2:
Name of President:  Donald Trump
Designation:  President
Number of wife:  1
Is he/she a dictator:  False
previous information lost

In [16]:
#Question 4
#subtask_1
class Joker:
  def __init__(self,name,power,is_he_psycho):
    self.name = name
    self.power = power
    self.is_he_psycho = is_he_psycho

j1 = Joker('Heath Ledger', 'Mind Game', False)
print(j1.name)
print(j1.power)
print(j1.is_he_psycho)
print("=====================")
j2 = Joker('Joaquin Phoenix', 'Laughing out Loud', True)
print(j2.name)
print(j2.power)
print(j2.is_he_psycho)
print("=====================")
if j1 == j2:
  print('same')
else:
  print('different')
j2.name = 'Heath Ledger'
if j1.name == j2.name:
  print('same')
else:
  print('different')
#subtask_2
print('They are different because they are different objects of the Joker class. And it will mainly check their memory location which are different')
#subtask_3
print('It is same because previously we changed the j2.name same as j1.name')

Heath Ledger
Mind Game
False
=====================
Joaquin Phoenix
Laughing out Loud
True
=====================
different
same
They are different because they are different objects of the Joker class. And it will mainly check their memory location which are different
It is same because previously we changed the j2.name same as j1.name

In [18]:
#Question 5
#subtask_1
class Pokemon:
  def __init__(self,pokemon1_name,pokemon2_name,pokemon1_power,pokemon2_power,damage_rate):
    self.pokemon1_name = pokemon1_name
    self.pokemon2_name = pokemon2_name
    self.pokemon1_power = pokemon1_power
    self.pokemon2_power = pokemon2_power
    self.damage_rate = damage_rate


team_pika = Pokemon('pikachu', 'charmander', 90, 60, 10)
print('=======Team 1=======')
print('Pokemon 1:',team_pika.pokemon1_name,
team_pika.pokemon1_power)
print('Pokemon 2:',team_pika.pokemon2_name,
team_pika.pokemon2_power)
pika_combined_power = (team_pika.pokemon1_power +
team_pika.pokemon2_power) * team_pika.damage_rate
print('Combined Power:', pika_combined_power)

#subtask_2
team_bulb = Pokemon('bulbasaur', 'squirtle', 80, 70, 9)
#subtask_3
print('=======Team 2=======')
print('Pokemon 1:',team_bulb.pokemon1_name,
team_bulb.pokemon1_power)
print('Pokemon 2:',team_bulb.pokemon2_name,
team_bulb.pokemon2_power)
bulb_combined_power = (team_bulb.pokemon1_power +
team_bulb.pokemon2_power) * team_bulb.damage_rate
print('Combined Power:', bulb_combined_power)

=======Team 1=======
Pokemon 1: pikachu 90
Pokemon 2: charmander 60
Combined Power: 1500
=======Team 2=======
Pokemon 1: bulbasaur 80
Pokemon 2: squirtle 70
Combined Power: 1350

In [23]:
#Question 6
class Player:
  def __init__(self):
    self.name = ''
    self.jersy_number = ''
    self.position = ''

player1 = Player()
player1.name = "Ronaldo"
player1.jersy_number = 9
player1.position = "Striker"
print("Name of the Player:", player1.name)
print("Jersey Number of player:", player1.jersy_number)
print("Position of player:", player1.position)
print("===========================")
player2 = Player()
player2.name = "Neuer"
player2.jersy_number = 1
player2.position = "Goal Keeper"
print("Name of the player:", player2.name)
print("Jersey Number of player:", player2.jersy_number)
print("Position of player:", player2.position)

Name of the Player: Ronaldo
Jersey Number of player: 9
Position of player: Striker
===========================
Name of the player: Neuer
Jersey Number of player: 1
Position of player: Goal Keeper

In [26]:
#Question 7
class Country:
  def __init__(self):
    self.name = "Bangladesh"
    self.continent = "Asia"
    self.capital = "Dhaka"
    self.fifa_ranking = 187
country = Country()
print('Name:',country.name)
print('Continent:',country.continent)
print('Capital:',country.capital)
print('Fifa Ranking:',country.fifa_ranking)
print('===================')
country.name = "Belgium"
country.continent = "Europe"
country.capital = "Brussels"
country.fifa_ranking = 1
print('Name:',country.name)
print('Continent:',country.continent)
print('Capital:',country.capital)
print('Fifa Ranking:',country.fifa_ranking)

Name: Bangladesh
Continent: Asia
Capital: Dhaka
Fifa Ranking: 187
===================
Name: Belgium
Continent: Europe
Capital: Brussels
Fifa Ranking: 1

In [28]:
#Question 8
class DemonSlayer:
  def __init__(self,name,style,number_of_technique,kill):
    self.name = name
    self.style = style
    self.number_of_technique = number_of_technique
    self.kill = kill

tanjiro = DemonSlayer("Tanjiro", "Water Breathing", 10, 10)
print('Name:',tanjiro.name)
print('Fighting Style:',tanjiro.style)
print(f'Knows {tanjiro.number_of_technique} technique(s) and has killed {tanjiro.kill} demon(s)')
print('===================')
zenitsu = DemonSlayer("Zenitsu", "Thunder Breathing", 1, 4)
print('Name:',zenitsu.name)
print('Fighting Style:',zenitsu.style)
print(f'Knows {zenitsu.number_of_technique} technique(s) and has killed {zenitsu.kill} demon(s)')
print('===================')
inosuke = DemonSlayer("Inosuke", "Beast Breathing", 5, 7)
print('Name:',inosuke.name)
print('Fighting Style:',inosuke.style)
print(f'Knows {inosuke.number_of_technique} technique(s) and has killed {inosuke.kill} demon(s)')
print('===================')
print(f'{tanjiro.name}, {zenitsu.name}, {inosuke.name} knows total {tanjiro.number_of_technique + zenitsu.number_of_technique + inosuke.number_of_technique} techniques')
print(f'They have killed total {tanjiro.kill + zenitsu.kill + inosuke.kill} demons')

Name: Tanjiro
Fighting Style: Water Breathing
Knows 10 technique(s) and has killed 10 demon(s)
===================
Name: Zenitsu
Fighting Style: Thunder Breathing
Knows 1 technique(s) and has killed 4 demon(s)
===================
Name: Inosuke
Fighting Style: Beast Breathing
Knows 5 technique(s) and has killed 7 demon(s)
===================
Tanjiro, Zenitsu, Inosuke knows total 16 techniques
They have killed total 21 demons

<center>Arrigatto ❤ </center>