---

<center>
CSE111</br>
Lab Assignment no: <b>5</b> </br>
Name: <b>Md. Danial Islam<b> </br>
Id: <b>20101534</b> </br>
Section: <b>1</b>
</center>

---

In [19]:
#Task_1
class Marks:
  def __init__(self,mark):
    self.mark = mark
  def __add__(self,other):
    return Marks(self.mark + other.mark)


Q1 = Marks(int(input("Quiz 1 (out of 10): ")))
Q2 = Marks(int(input("Quiz 2 (out of 10): ")))
Lab = Marks(int(input("Lab (out of 30): ")))
Mid = Marks(int(input("Mid (out of 20): ")))
Final = Marks(int(input("Final (out of 30): ")))
total = Q1 + Q2 + Lab + Mid + Final
print("Total marks: {}".format(total.mark))

Quiz 1 (out of 10): 10
Quiz 2 (out of 10): 10
Lab (out of 30): 30
Mid (out of 20): 20
Final (out of 30): 30
Total marks: 100

In [20]:
#Task_2
class Teacher:
  def __init__(self,name,department):
    self.__name = name
    self.__department = department
    self.__courses = []
  def addCourse(self,course):
    self.__courses.append(course.course_name)
  def printDetail(self):
    print('=======================================')
    print('Name: {}\nDepartment: {}\nList of courses'.format(self.__name,self.__department))
    print('=======================================')
    for course in self.__courses:
      print(course)
    print('=======================================')


class Course:
  def __init__(self,course):
    self.course_name = course


t1 = Teacher("Saad Abdullah", "CSE")
t2 = Teacher("Mumit Khan", "CSE")
t3 = Teacher("Sadia Kazi", "CSE")
c1 = Course("CSE 110 Programming Language I")
c2 = Course("CSE 111 Programming Language-II")
c3 = Course("CSE 220 Data Structures")
c4 = Course("CSE 221 Algorithms")
c5 = Course("CCSE 230 Discrete Mathematics")
c6 = Course("CSE 310 Object Oriented Programming")
c7 = Course("CSE 320 Data Communications")
c8 = Course("CSE 340 Computer Architecture")
t1.addCourse(c1)
t1.addCourse(c2)
t2.addCourse(c3)
t2.addCourse(c4)
t2.addCourse(c5)
t3.addCourse(c6)
t3.addCourse(c7)
t3.addCourse(c8)
t1.printDetail()
t2.printDetail()
t3.printDetail()

=======================================
Name: Saad Abdullah
Department: CSE
List of courses
=======================================
CSE 110 Programming Language I
CSE 111 Programming Language-II
=======================================
=======================================
Name: Mumit Khan
Department: CSE
List of courses
=======================================
CSE 220 Data Structures
CSE 221 Algorithms
CCSE 230 Discrete Mathematics
=======================================
=======================================
Name: Sadia Kazi
Department: CSE
List of courses
=======================================
CSE 310 Object Oriented Programming
CSE 320 Data Communications
CSE 340 Computer Architecture
=======================================

In [3]:
#Task_3

class Team:
  def __init__(self,name=""):
    self.__name = name
    self.__players = []
  def setName(self,name):
    self.__name = name
  def addPlayer(self,other):
    self.__players.append(other.name)
  def printDetail(self):
    print("=====================")
    print("Team: {}\nList of Players:\n{}".format(self.__name,self.__players))
    print("=====================")

class Player:
  def __init__(self,name):
    self.name = name



b = Team()
b.setName('Bangladesh')
mashrafi = Player("Mashrafi")
b.addPlayer(mashrafi)
tamim = Player("Tamim")
b.addPlayer(tamim)
b.printDetail()
a = Team("Australia")
ponting = Player("Ponting")
a.addPlayer(ponting)
lee = Player("Lee")
a.addPlayer(lee)
a.printDetail()

=====================
Team: Bangladesh
List of Players:
['Mashrafi', 'Tamim']
=====================
=====================
Team: Australia
List of Players:
['Ponting', 'Lee']
=====================

In [22]:
#Task_4

class Color:
  def __init__(self,color):
    self.clr = color
  def __add__(self,other):
    if (self.clr == 'red' and other.clr =="yellow") or (other.clr == 'red' and self.clr =="yellow"):
      return Color('Orange')
    elif (self.clr == 'red' and other.clr =="blue") or (other.clr == 'red' and self.clr =="blue"):
      return Color('Violet')
    elif (self.clr == 'yellow' and other.clr =="blue") or (other.clr == 'yellow' and self.clr =="blue"):
      return Color('Green')

    
C1 = Color(input("First Color: ").lower())
C2 = Color(input("Second Color: ").lower())
C3 = C1 + C2
print("Color formed:", C3.clr)

First Color: blue
Second Color: red
Color formed: Violet

In [23]:
#Task_5
import math
class Circle:
  def __init__(self,radious=""):
    if (radious != ''):
      self.__radious = radious
  def getRadius(self):
    return self.__radious
  def setRadius(self,radious):
    self.__radious = radious
  def area(self):
    return math.pi * self.__radious * self.__radious
  def __add__(self,other):
    return Circle(self.__radious + other.__radious)



c1 = Circle(4)
print("First circle radius:" , c1.getRadius())
print("First circle area:" ,c1.area())
c2 = Circle(5)
print("Second circle radius:" ,c2.getRadius())
print("Second circle area:" ,c2.area())
c3 = c1 + c2
print("Third circle radius:" ,c3.getRadius())
print("Third circle area:" ,c3.area())

First circle radius: 4
First circle area: 50.26548245743669
Second circle radius: 5
Second circle area: 78.53981633974483
Third circle radius: 9
Third circle area: 254.46900494077323

In [24]:
#Task_6
class Triangle:
  def __init__(self,base,height):
    self.__base = base
    self.__height = height
  def getBase(self):
    return self.__base
  def getHeight(self):
    return self.__height
  def setBase(self,base):
    self.__base = base
  def setHeight(self,base):
    self.__height = height
  def area(self):
    return .5 * self.__base * self.__height
  def __sub__(self,other):
    base = self.__base - other.__base
    height = self.__height - other.__height
    return Triangle(base,height)

t1 = Triangle(10, 5)
print("First Triangle Base:" , t1.getBase())
print("First Triangle Height:" , t1.getHeight())
print("First Triangle area:" ,t1.area())
t2 = Triangle(5, 3)
print("Second Triangle Base:" , t2.getBase())
print("Second Triangle Height:" , t2.getHeight())
print("Second Triangle area:" ,t2.area())
t3 = t1 - t2
print("Third Triangle Base:" , t3.getBase())
print("Third Triangle Height:" , t3.getHeight())
print("Third Triangle area:" ,t3.area())

First Triangle Base: 10
First Triangle Height: 5
First Triangle area: 25.0
Second Triangle Base: 5
Second Triangle Height: 3
Second Triangle area: 7.5
Third Triangle Base: 5
Third Triangle Height: 2
Third Triangle area: 5.0

In [25]:
#Task_7
class Dolls:
  def __init__(self,doll,price):
    self.__doll = doll
    self.__price = price
  def detail(self):
    return "Doll: {}\nTotal Price: {} taka".format(self.__doll,self.__price)
  def __gt__(self,other):
    if (self.__price > other.__price):
      return True
    else:
      return False
  def __add__(self,other):
    doll = self.__doll+" "+other.__doll
    price = self.__price + other.__price
    return Dolls(doll,price)


obj_1 = Dolls("Tweety", 2500)
print(obj_1.detail())
if obj_1 > obj_1:
 print("Congratulations! You get the Tweety as a gift!")
else:
 print("Thank you!")
print("=========================")
obj_2 = Dolls("Daffy Duck", 1800)
print(obj_2.detail())
if obj_2 > obj_1:
 print("Congratulations! You get the Tweety as a gift!")
else:
 print("Thank you!")
print("=========================")
obj_3 = Dolls("Bugs Bunny", 3000)
print(obj_3.detail())
if obj_3 > obj_1:
 print("Congratulations! You get the Tweety as a gift!")
else:
 print("Thank you!")
print("=========================")
obj_4 = Dolls("Porky Pig", 1500)
print(obj_4.detail())
if obj_4 > obj_1:
 print("Congratulations! You get the Tweety as a gift!")
else:
 print("Thank you!")
print("=========================")
obj_5 = obj_2 + obj_3
print(obj_5.detail())
if obj_5 > obj_1:
 print("Congratulations! You get the Tweety as a gift!")
else:
 print("Thank you!")

Doll: Tweety
Total Price: 2500 taka
Thank you!
=========================
Doll: Daffy Duck
Total Price: 1800 taka
Thank you!
=========================
Doll: Bugs Bunny
Total Price: 3000 taka
Congratulations! You get the Tweety as a gift!
=========================
Doll: Porky Pig
Total Price: 1500 taka
Thank you!
=========================
Doll: Daffy Duck Bugs Bunny
Total Price: 4800 taka
Congratulations! You get the Tweety as a gift!

In [26]:
#Task_8
class Coordinates:
  def __init__(self,x,y):
    self.__x = x
    self.__y = y
  def detail(self):
    return '({},{})'.format(self.__x,self.__y)
  def __sub__(self,other):
    x = self.__x - other.__x
    y = self.__y - other.__y
    return Coordinates(x,y)
  def __mul__(self,other):
    x = self.__x * other.__x
    y = self.__y * other.__y
    return Coordinates(x,y)

  def __eq__(self,other):
    if (self.__x == other.__x and self.__y == other.__y):
      return 'The calculated coordinates are the same.'
    else:
      return 'The calculated coordinates are NOT the same.'
  
p1 = Coordinates(int(input()),int(input()))
p2 = Coordinates(int(input()),int(input()))
p4 = p1 - p2
print(p4.detail())
p5 = p1 * p2
print(p5.detail())
point_check = (p4 == p5)
print(point_check)

1
2
3
4
(-2,-2)
(3,8)
The calculated coordinates are NOT the same.

<center>Arrigato ‚ù§ </center>